<section class="order-container float-container">
    <form [formGroup]="_order.formOrder" (ngSubmit)="placeOrder()">
        
        <div class="buttons">
            <h1>Orden</h1>
            
            <mat-form-field appearance="outline">
                <mat-label>Cliente</mat-label>
                <input matInput type="text" formControlName="client" placeholder="Nombre del cliente">
                @if (_order.formOrder.get('client')?.hasError('required')) {
                    <mat-error>El nombre es obligatorio</mat-error>
                }
            </mat-form-field>

            <div class="global-radio">
                <label>Aplicar a todos:</label>
                <mat-radio-group (change)="selected($event)" class="unselect">
                    <mat-radio-button [value]="1">Comer aquí</mat-radio-button>
                    <mat-radio-button [value]="0">Para llevar</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        
        <div class="products-order" formArrayName="order_details">
            
            @for (item of eachProduct().controls; track $index) {
                <div class="product" [formGroupName]="$index">
                    <div class="product-container">
                        <h2>{{item.value.name_category}} - {{item.value.name}}</h2>
                        
                        <div class="order-type-container">
                            <mat-radio-group formControlName="order_type">
                                <mat-radio-button [value]="1">Comer aquí</mat-radio-button>
                                <mat-radio-button [value]="0">Para llevar</mat-radio-button>
                            </mat-radio-group>
                            
                            <h5>{{item.value.unit_price | currency}}</h5>
                            
                            <button mat-icon-button type="button" color="warn" (click)="deleteProduct($index)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="comments">
                        @if (filterExtras(item.value, 1).length) {
                            <div class="extras-section">
                                <h3>Extras</h3>
                                @for (ingredient of filterExtras(item.value, 1); track $index) {
                                    <div class="extras-container">
                                        <h4>{{ingredient.name}}</h4>
                                        <h5>{{ingredient.price | currency}}</h5>
                                    </div>
                                }
                            </div>
                        }

                        @if (filterExtras(item.value, 0).length){
                            <div class="exceptions-section">
                                <h3>Sin</h3>
                                @for (ingredient of filterExtras(item.value, 0); track $index) {
                                    <div class="exception-container">
                                        <h4>{{ingredient.name}}</h4>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            } @empty {
                <div class="no-products">
                    <p>No hay productos en la orden. Vaya al menú para agregar.</p>
                </div>
            }

            <div class="total-container">
                <div class="subtotal">
                    <h4>Subtotal Productos</h4>
                    <h4>{{totalProducts() | currency}}</h4>
                </div>
                <div class="total-extras">
                    <h4>Total Extras</h4>
                    <h4>{{totalExtras() | currency}}</h4>
                </div>
                <div class="total-order">
                    <h3>Total Final</h3>
                    <h3>{{totalOrder() | currency}}</h3>
                </div>
            </div>
        </div>

        <div class="float">
            <button class="button-secundary" type="button" [routerLink]="['/private/menu']">
                Regresar al Menú
            </button>
            
            <button class="button-primary" type="submit" [disabled]="_order.formOrder.invalid">
                Confirmar Orden
            </button>
        </div>
    </form>
</section>