<div class="dialog-container">
    <div class="dialog-header">
        <div class="icon-wrapper">
            <mat-icon>soup_kitchen</mat-icon>
        </div>
        <h2 mat-dialog-title>¡Manos a la obra!</h2>
    </div>

    <mat-dialog-content>
        <p class="dialog-message">
            ¿Confirmas que comenzarás a preparar la orden de <br>
            <strong>{{ _data.client }}</strong>?
        </p>
        <p class="dialog-note">El estado cambiará a "En Proceso".</p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button class="btn-cancel" (click)="cancel()">
            Esperar
        </button>
        
        <button mat-flat-button class="btn-confirm" (click)="openOrderDetails()" [disabled]="isLoading">
            @if (isLoading) {
                <span>Asignando...</span>
            } @else {
                <span>Sí, a cocinar</span>
            }
        </button>
    </mat-dialog-actions>
</div>